  nb-card {
    min-width: 10rem;
    border-color: #ffffff;
    background-color: #d0dadaf5;
  }
  nb-card-body{
    background-color:#eaf3f3f5; 
  }
  nb-card-footer{
    background-color:#eaf3f3f5; 
  }
  .form-inline > * {
    margin: 0 10rem 1.5rem 0;
  }
  .form-inline1 > * {
    margin: 1rem 0rem 1.5rem 4rem;
  }


  nb-card-header {
    text-align: center;
  }
  .form-inline [fullWidth] {
    flex: 1;
  }
  
  .form-inline > * {
    margin: 0 0.5rem 1.5rem 0;
    
  }
  
  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }
      nb-card-header{
        text-align: center;
      }
    