<form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
    <div class="col-lg-6">
        <nb-card size="Medium">
            <nb-card-header>Seleccione el Año:</nb-card-header>
            <nb-card-body>
                <div class="form-inline">
                    <label  class="label col-sm-2 col-form-label">Año:</label>
                    <nb-select  formControlName="Year">
                      <nb-option  value="">--Seleccione--</nb-option>
                      <nb-option *ngFor="let anio of anios" 
                      [value]="anio.YEAR">{{anio.YEAR}}</nb-option>
                    </nb-select>
                      <span class="form-text text-danger"
                      *ngIf="campoEsValido('Year')"> 
                          El campo es obligatorio
                      </span>
                  </div>
            </nb-card-body>
            <button type="submit" status="primary" nbButton>Continuar</button>
        </nb-card>
    </div>
</form>
