<form (ngSubmit)="guardar()" autocomplete="off" [formGroup]="miFormulario">
    <div class="col-lg-6">
      <nb-card size="Medium">
          <nb-card-header>Consultar Fallas</nb-card-header>
          <nb-card-body>
            <div class="form-inline">
              <label  class="label col-sm-2 col-form-label">Periodo:</label>
                <nb-select formControlName="Periodo">
                  <nb-option  value="">--Seleccione--</nb-option>
                                <nb-option value="I">I</nb-option>
                                <nb-option value="II">II</nb-option>
                                <nb-option value="III">III</nb-option>
                                <nb-option value="IV">IV</nb-option>
                </nb-select>
                <span class="form-text text-danger"
                *ngIf="campoEsValido('Periodo')"> 
                  El campo es obligatorio
               </span>
            </div>
          </nb-card-body>
          <button type="submit" status="primary" nbButton>Continuar</button>
      </nb-card>
  </div>
  </form>
  