@import '../../../@theme/styles/themes';

@include nb-install-component() {
    thead{
        background: nb-theme(smart-table-header-bg);
    }
    tfoot tr {
    background: nb-theme(smart-table-header-bg);
    }
    .table-responsive {
        margin-top: 1rem;
      }
}

nb-card-header {
    border-color: #ffffff;
    background-color: #d0dadaf5;
    text-align: center;
  }
