nb-card {
    min-width: 10rem;
    border-color: #ffffff;
    background-color: #d0dadaf5;
  }
  nb-card-body{
    background-color:#eaf3f3f5; 
  }
  nb-card-footer{
    background-color:#eaf3f3f5; 
  }
  
  nb-card-header {
    text-align: center;
  }